@page
@model ScoreMania.Pages.PregledKlubaModel
@{
    ViewData["Title"] = "Pregled Kluba";
    await Model.Korisnik();
    await Model.Klub();
    await Model.Utakmice();
    ViewData["korisnik"] = Model.LogovaniKorisnik.username;
}

<head>
    <link href="~/css/klub.css" rel="stylesheet" />
</head>

<body>
    <div class="cont">
        <div class="informacije">
            <div class="slika">
                <img src="~/Pictures/klub.png" />
            </div>
            <div class="klub-info-div">
                <div class="klub-info">
                    <label class="tekst"><b>Naziv:</b></label>
                    <label class="tekst"><b>Trener:</b></label>
                    <label class="tekst"><b>Stadion:</b></label>
                </div>
                <div class="klub-info-podaci">
                    <label class="tekst-podaci">@Model.klub.naziv</label>
                    <label class="tekst-podaci">@Model.klub.trener</label>
                    <label class="tekst-podaci">@Model.klub.stadion</label>
                </div>
            </div>
        </div>
        <hr class="sidebar-divider d-none d-md-block col-8">
        <div class="utakmice">
            @{ 
                int counter = 0;
            <div class="spisak">
                            <div class="prosle">
                                <div class="container2">
                                    <div class="naziv-div"><label class="naziv-liga">Odigrane utakmice</label></div>
                                </div>
                                @foreach (Models.Utakmica u in Model.odigrane)
                                {
                                    <div class="utakmica row">
                                        <a class="nav-link" asp-page="/PregledUtakmice" asp-route-utakmica="@u.id" asp-route-home="@Model.domacini[counter].naziv" asp-route-away="@Model.gosti[counter].naziv" asp-route-logovani="@Model.LogovaniKorisnik.username">
                                            <div class="timovi col-5"><label class="labeltext">@Model.domacini[counter].naziv @u.dgolovi-@u.ggolovi @Model.gosti[counter].naziv</label></div>
                                        </a>
                                        <div class="omiljena col-1"><button id="@u.id" type="button" class="btn btn-default" data-toggle="modal" data-placement="right" title="Dodaj u omiljene utakmice!" data-target="#updateModal@{@u.id;}"><i class="far fa-star" onmouseover="hoveritem(this)" onmouseout="leaveitem(this)" onclick="izabrana(this)"></i></button></div>
                                    </div>
                                    <div class="modal fade" id="updateModal@{@u.id;}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header odjava">
                                                    <h5 class="modal-title" id="exampleModalLabel">Potvrda dodavanja</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body odjava">Da li ste sigurni da želite da dodate ovu utakmicu u omiljene?</div>
                                                <div class="modal-footer odjava">

                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
                                                    <a class="btn btn-primary" onclick="blokiraj(@u.id" asp-route-iD="@u.id" asp-route-username="@Model.LogovaniKorisnik.username" asp-route-nazivkluba="@Model.klub.naziv" asp-page-handler="Dodaj">Potvrdi</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="sidebar-divider d-none d-md-block col-8">
                                    counter++;
                                }
                            </div>
            </div>

            <div class="spisak">
                <div class="slede">
                    <div class="container2">
                        <div class="naziv-div"><label class="naziv-liga">Neodigrane Utakmice</label></div>
                    </div>
                    @foreach (Models.Utakmica u in Model.neodigrane)
                    {
                        <div class="utakmica row">
                            <a class="nav-link" asp-page="/PregledUtakmice" asp-route-utakmica="@u.id" asp-route-home="@Model.domacini[counter].naziv" asp-route-away="@Model.gosti[counter].naziv" asp-route-logovani="@Model.LogovaniKorisnik.username">
                                <div class="timovi col-5"><label class="labeltext">@Model.domacini[counter].naziv @u.dgolovi-@u.ggolovi @Model.gosti[counter].naziv</label></div>
                            </a>
                            <div class="omiljena col-1"><button id="@u.id" type="button" class="btn btn-default" data-toggle="modal" data-placement="right" title="Dodaj u omiljene utakmice!" data-target="#updateModal@{@u.id;}"><i class="far fa-star" onmouseover="hoveritem(this)" onmouseout="leaveitem(this)" onclick="izabrana(this)"></i></button></div>
                        </div>
                        <div class="modal fade" id="updateModal@{@u.id;}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header odjava">
                                        <h5 class="modal-title" id="exampleModalLabel">Potvrda dodavanja</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body odjava">Da li ste sigurni da želite da dodate ovu utakmicu u omiljene?</div>
                                    <div class="modal-footer odjava">

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
                                        <a class="btn btn-primary" onclick="blokiraj(@u.id" asp-route-iD="@u.id" asp-route-username="@Model.LogovaniKorisnik.username" asp-route-nazivkluba="@Model.klub.naziv" asp-page-handler="Dodaj">Potvrdi</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="sidebar-divider d-none d-md-block col-8">
                        counter++;
                    }
                </div>
            </div>
            }
        </div>
    </div>

   
    <script src="~/js/omiljene.js"></script>
    <script>
        function blokiraj(id) {
            const dugme = document.getElementById(id);
            dugme.disabled = true;
        }
    </script>
</body>